LearnModularity.UI.Main/Web References/SalaryWebService/SalaryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetSalaryByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSalaryByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetSalaryByNameResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSalaryByNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetSalaryByName" />
  </wsdl:message>
  <wsdl:message name="GetSalaryByNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetSalaryByNameResponse" />
  </wsdl:message>
  <wsdl:portType name="SalaryServiceSoap">
    <wsdl:operation name="GetSalaryByName">
      <wsdl:input message="tns:GetSalaryByNameSoapIn" />
      <wsdl:output message="tns:GetSalaryByNameSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SalaryServiceSoap" type="tns:SalaryServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSalaryByName">
      <soap:operation soapAction="http://tempuri.org/GetSalaryByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SalaryServiceSoap12" type="tns:SalaryServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSalaryByName">
      <soap12:operation soapAction="http://tempuri.org/GetSalaryByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SalaryService">
    <wsdl:port name="SalaryServiceSoap" binding="tns:SalaryServiceSoap">
      <soap:address location="http://localhost:14385/SalaryService.asmx" />
    </wsdl:port>
    <wsdl:port name="SalaryServiceSoap12" binding="tns:SalaryServiceSoap12">
      <soap12:address location="http://localhost:14385/SalaryService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>